/*
 Theme Name:   herbert-pixner
 Theme URI:    ..
 Description:  Responsive Theme based on Twitter Bootstrap Theme
 Author:       MR
 Author URI:   http://manfredraggl.com
 Template:     --
 Version:      1.0.0
 Tags:         responsive-layout
 Text Domain:  herbert-pixner 
*/

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*hide subnav on smaller screens and show on collapsed menu*/
@media screen and (max-width: 765px) {

    #sidebar1 {display:none;}
}


/*center navbar*/
@media (min-width: 768px) {
    .navbar-nav {
        float: none;
        margin: 0 auto;
        display: table;
        table-layout: fixed;
    }

    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 22px;
    }
}

@media (min-width: 1000px) {
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 44px;
    }
}

.navbar-default {
    font-size: 1.7em;
    font-weight: 800;
}

.header-image {
    width: 100%;
}

.header-feature {
    position: relative;
    /*text-align: center;*/
}

#logo {
    margin: 0 auto;
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: -11px;
    z-index: 11111;
}

/*FOOTER*/
/* Sticky footer styles */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;
}
footer {
    /*sticks footer to bottom*/
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 120px;
    /*set full width bg-color if necesarry*/
}



/*extends footer to bottom*/
#container > footer{
    /*box-shadow: 0px 500px 0px 500px #000;*/
}
#inner-footer{
    height: 320px; /*sets headerheight!*/
    margin:0 auto;
    background: black;
    color:white;
}
#inner-footer a{
    color:#efefef;
}
.footer-links{
    float:none;
}

footer .menu{
    padding:0;
}
#inner-footer a{
    color:gray;
}


#inner-footer .nav a:hover, #inner-footer .nav li.active a, #inner-footer .nav li.active a:hover, #inner-footer .nav li{
    background:transparent;
    color:white;
}
footer nav p {
    margin-left:16px;
    font-size:0.6em
}


#footer-main-menu a {
    font-size:0.4em;
    line-height: 1.5em;
    padding:0;
    /*padding-bottom:0.3em;*/
}



/*ACCORDION*/
.panel {
    border-radius:0;
    border:0;
    box-shadow: 0 0 0;

}
.panel  a{
    color:black;
}
.panel h4 {
    padding:1em 0;
}
.panel-title span:first-child{
    padding-right:2em;
    padding-left:1em;
}

/*panel open state*/
.panel-title  span.glyphicon { visibility: hidden;}
.panel > div > a:hover, .panel > div > a {
    display:block;
    background:#fff;
    text-decoration:none;
}
/*panel close state*/
.panel > div > .collapsed > .panel-title span.glyphicon { visibility: visible;}
.panel > div > .collapsed {
    background:#efefef;
}

/*panel expandable content*/
.panel-body{
    margin-left:8.6em;
    background:#fff;
}
.dl-horizontal dd{
    margin-left: 80px;
}
.dl-horizontal dt{
    float:left;
    text-align: left;
    width: 80px;
}
















